SIO:CFG_1.0:7:0::
#
FIREWALL_MANAGEMENT:

      -Name "RapidSockets"

      -Name "RobotWebServices" -EnableOnPrivateNet 

      -Name "Netscan" -EnableOnPrivateNet 

      -Name "OpcUaServer" -EnableOnPrivateNet 
#
SYSLOG:

      -Name "SYSLOG"
#
IP_SETTING:

      -Name "Public Network" -DHCP 

      -Name "IO Network"
#
DNSC:

     
      -Name "DNSC"
#
CSE_CONFIG:

      -Name "RSCON" -ProxyPwd "49Nk/OTA9m9XCWU9Z1Tfs12wqqyg3E3WunG3BoJoIBaUzXXv"\
      -HTTPPassword "3TtZ8T5WFPQBQoqu4l7XKCEVDwPyf1BeckB5HmWB3N9+pOS0"\
      -MQTTPassword "hbFurrtRR9xDKAqqiiT3XAYB20rNSpOp3mEXvqdOzqFWITCG"
#
CSGW_CELLULAR:

      -Name "CSGW" -Pin "srQiUcKjFhk8ts+U8pDtKT9CuVjsUO0RFGCBgkRcighIrDrQ"\
      -Password "wpD1FkiFNXeABkKRFfrmo/+p9kR72mMvDXNjwkJ5voz3jCdM"
#
CSGW_WIRELESS:

      -Name "CSGW" -Key "b8XoIES5HOp6NyfG3ofHzr/KLWblQgJALEZbL82SgRvRkPbQ"
#
CSGW_WIRED:

      -Name "CSGW"

#CTRL_SIGNATURE:teOURxrFw0WCq4xGbAG4dJgvJQCf69J1FZpFITjRcATm7MLcamtw36ipnPXc0wA6t6D+nSpcBrzhFVQCgTL90Q==