SIO:CFG_1.0:7:0::
#
FIREWALL_MANAGEMENT:

      -Name "RapidSockets"

      -Name "RobotWebServices" -EnableOnPrivateNet 

      -Name "Netscan" -EnableOnPrivateNet 

      -Name "OpcUaServer" -EnableOnPrivateNet 
#
SYSLOG:

      -Name "SYSLOG"
#
IP_SETTING:

      -Name "Public Network" -DHCP 

      -Name "IO Network"
#
DNSC:

     
      -Name "DNSC"
#
CSE_CONFIG:

      -Name "RSCON" -ProxyPwd "xrwUsML5h2UjWtW5U/2Ubntf9CNIix4dC/wtijpY4id6tEij"\
      -HTTPPassword "APun7E5MnuEcxk8kzKq8JconZSkMn5q7v8ZSz/nAP54JjqhQ"\
      -MQTTPassword "+Lo3nOrw/5EGYEvwlm/4PU4vUDyo6l+aDJGVENw8pGKXvEqc"
#
CSGW_CELLULAR:

      -Name "CSGW" -Pin "GpLxvEc4fz1Ij1N5UPJlh739wfesjVzpYPdZ+IaC8n92bbVH"\
      -Password "NWpDsYSWwU/7cz+vqtOikrxMYOwrVqoQOttLQ97UFvCarWru"
#
CSGW_WIRELESS:

      -Name "CSGW" -Key "hlXpWSFxM2YuhVvsy17OuiSb7r8GeNT3PMl6BrWSiS0oAEVt"
#
CSGW_WIRED:

      -Name "CSGW"

#CTRL_SIGNATURE:IOFx6/h8FB/oTNuLAHJnk6JBqxjAK4ATfsDG8Qt1SGdW/dDED/BWp3LmpEzeHQ1A18SiRzoqUbC6vCga92FCUQ==