SIO:CFG_1.0:7:0::
#
FIREWALL_MANAGEMENT:

      -Name "RapidSockets"

      -Name "RobotWebServices" -EnableOnPrivateNet 

      -Name "Netscan" -EnableOnPrivateNet 

      -Name "OpcUaServer" -EnableOnPrivateNet 
#
SYSLOG:

      -Name "SYSLOG"
#
IP_SETTING:

      -Name "Public Network" -DHCP 

      -Name "IO Network"
#
DNSC:

     
      -Name "DNSC"
#
CSE_CONFIG:

      -Name "RSCON" -ProxyPwd "G7ko+Jc2guNnkFN9KOvZK3hykREgUQ5eMF2WsboxaGJe/Fzd"\
      -HTTPPassword "zMSEUbG20fuD0l7ddUUgCXyWd8fT/nhOcQZouDmMMzABDO50"\
      -MQTTPassword "MD81fzzW0bYz7hATTUGp2aLc2KD5e3VT3qiTG4vbMM3O1lF4"
#
CSGW_CELLULAR:

      -Name "CSGW" -Pin "bj55i0yhzq2s5SxitNoGWDgGUY8MRgGpZRgWd25+/IuRCoKU"\
      -Password "RYh7LA71YwfFsZ39587u8r90KZo2sFrHh0xFraR4vb794Ptg"
#
CSGW_WIRELESS:

      -Name "CSGW" -Key "CQYnYv2Vuo6qNLKgW2Vaiua1/Slew2h7ukOLgasiDr4jNbx8"
#
CSGW_WIRED:

      -Name "CSGW"

#CTRL_SIGNATURE:q/i08ieMbztpnShhk74PKYioHDeof7WPJinT5LXHFUPtoNVl2C4lzY8jYUM3O9WOFtLkixih8GOPBdf1gAuXCA==