SIO:CFG_1.0:7:0::
#
FIREWALL_MANAGEMENT:

      -Name "RapidSockets"

      -Name "RobotWebServices" -EnableOnPrivateNet 

      -Name "Netscan" -EnableOnPrivateNet 

      -Name "OpcUaServer" -EnableOnPrivateNet 
#
SYSLOG:

      -Name "SYSLOG"
#
IP_SETTING:

      -Name "Public Network" -DHCP 

      -Name "IO Network"
#
DNSC:

     
      -Name "DNSC"
#
CSE_CONFIG:

      -Name "RSCON" -ProxyPwd "iTFhBIaSadzcKTmmOwurw7PKn2y8PplUZCHNO1uq4aUH3jU8"\
      -HTTPPassword "gjx4THjCzEFhzkanXa3GlVsofMM9BHLWTvRg9YS3YbSeOHqZ"\
      -MQTTPassword "RVO76q9UupTiCzG5nF76DWBCvINia9jbe/HtsUdx12KC7MFJ"
#
CSGW_CELLULAR:

      -Name "CSGW" -Pin "9M1/8npjhCs4pP9UC4EhOQjPrddufTLADr4ISMF0uNPjgG1b"\
      -Password "qs1fDDHBjfv/Wzru7MNqE58sg063psmBoJege6jvN8UnfOmB"
#
CSGW_WIRELESS:

      -Name "CSGW" -Key "thWJLCT7jU7CISAws+yBc2Bt+2PIkdXbGe0NUnq3duuaMM6V"
#
CSGW_WIRED:

      -Name "CSGW"

#CTRL_SIGNATURE:zPMmHjO4ZHuwv+yrXZ7iZf4+tJAXxJ1pITPpmvOz82BF0xxQKgBn3sXDRPnpiZgD02ZjcpsMh9qkG5IGKqKoxg==