SIO:CFG_1.0:7:0::
#
FIREWALL_MANAGEMENT:

      -Name "RapidSockets"

      -Name "RobotWebServices" -EnableOnPrivateNet 

      -Name "Netscan" -EnableOnPrivateNet 

      -Name "OpcUaServer" -EnableOnPrivateNet 
#
SYSLOG:

      -Name "SYSLOG"
#
IP_SETTING:

      -Name "Public Network" -DHCP 

      -Name "IO Network"
#
DNSC:

     
      -Name "DNSC"
#
CSE_CONFIG:

      -Name "RSCON" -ProxyPwd "SG3EsB8sFObJXU3wlvFnH5Q61gb7sK+/51UU5sE1DNHCZblg"\
      -HTTPPassword "YksbEQTjzxqbjGGEkgpglBiPhVfMoHI6Q2EL+Mi+GC2lehUC"\
      -MQTTPassword "Zz2O/wpSqfKBFwDAHLUQM6bXyxFGOIlHLRPvE4Px0MU8VqxD"
#
CSGW_CELLULAR:

      -Name "CSGW" -Pin "2Aviv0amelipXXjMsrx18rN9sefKjCx0xAhOvvgkTIUUjFqO"\
      -Password "jP0313WANlKzx34f3/BwjiZtgsTm5x47qCrRb8faDZGvoQkw"
#
CSGW_WIRELESS:

      -Name "CSGW" -Key "ksagqJtK2X7+Ie2EZ0MbyNgFm8kb1UeYYpFJheXTpsR8M7ms"
#
CSGW_WIRED:

      -Name "CSGW"

#CTRL_SIGNATURE:uB87FBURG2t6g7cVzH+dQDjqFMlRvGHfwJ4DlBgf/vyWs2QyQIufngJ76mF28Wh+kcfmfc6IW6QriCe4cjaeag==