SIO:CFG_1.0:7:0::
#
FIREWALL_MANAGEMENT:

      -Name "RapidSockets"

      -Name "RobotWebServices" -EnableOnPrivateNet 

      -Name "Netscan" -EnableOnPrivateNet 

      -Name "OpcUaServer" -EnableOnPrivateNet 
#
SYSLOG:

      -Name "SYSLOG"
#
IP_SETTING:

      -Name "Public Network" -DHCP 

      -Name "IO Network"
#
DNSC:

     
      -Name "DNSC"
#
CSE_CONFIG:

      -Name "RSCON" -ProxyPwd "yiB0Uve9eiUM9dXwlbqR7511XMxZE/rG3Bs5vAW15fbuN3DE"\
      -HTTPPassword "8sD3fF8h3G2QQ+ihg73mbVGT7q5myw6VHPYuHPCe3e9RNwLN"\
      -MQTTPassword "ig5E+N9VSOHd70vKw3Lidgi13Y0jPuogHWsFLRMadfBlMsug"
#
CSGW_CELLULAR:

      -Name "CSGW" -Pin "tFKBc0FgKZo5q6/Jee9X+pUm+KXDWii2dJb9+3EE8HQwq0Gf"\
      -Password "uwQh0EqbkiXJWgUGtNWy90bv1jpylhxy/h0tPb0rsurOzHHZ"
#
CSGW_WIRELESS:

      -Name "CSGW" -Key "S7R6+wNii9ipRJF+zyXW0pNoAuKe/hZENbB2BYdxPWMF2FCf"
#
CSGW_WIRED:

      -Name "CSGW"

#CTRL_SIGNATURE:oxrCAciW9DO8ARz173uA1dO1rJkA0z1TXudKvz8UnsDQh5HSkqi9awp9ZdJaGhjpsqcC2uZPpzRp9dS/pX384Q==